 .six-footer {
  background: #003d1f;
  color: #e8f7ee;
  padding: 70px 20px 40px;
  font-family: "Arial", sans-serif;
}

.six-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
}

.six-column h3 {
  font-size: 22px;
  margin-bottom: 18px;
  border-left: 4px solid #38e3a5;
  padding-left: 10px;
  color: gainsboro;
}

.six-column p {
  line-height: 1.7;
  font-size: 15px;
  opacity: 0.9;
}

.six-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.six-column ul li {
  margin: 7px 0;
}

.six-column ul li a {
  color: #44f0b6;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s ease;
}

.six-column ul li a:hover {
  color: #ffffff;
  padding-left: 6px;
}

.six-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.six-bottom p {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

  .six-inline-links {
  line-height: 2;
  font-size: 16px;
}

.six-inline-links a {
  color: #4debb0;
  text-decoration: none;
  transition: 0.3s;
}

.six-inline-links a:hover {
  color: #ffffff;
}







a {
  text-decoration: none;
  color: #6edeff;
}

.navbar-brand {
  color: rgb(237,29,36);
  font-weight: bold;
  font-size: 16px;
}

.nav-link, .dropdown-item {
    color: #fff;
    font-weight: 500;
    box-shadow: -1px -1px 2px 0px rgb(0 0 0 / 25%);
    border-radius: 5px;
    margin: 0.5rem;
}

@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.5rem 1.2rem;
    box-shadow: 2px 3px 6px 0 rgb(0 0 0 / 25%);
    border-radius: 5px;
    margin: 0.5rem;
  }
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link:focus, .nav-link:hover {
  color: #ed1d24;
}

header {
  background: #4b9c55;
}

.sticky {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
}

.search-game {
  clear: both;
  height: 40px;
  left: 20px;
  position: relative;
  width: 100%;
  z-index: 100000;
}

@media (max-width: 992px) {
  .search-game {
    left: 0;
  }
}

@media (max-width: 991px) {
  .nav-right {
    padding: 20px 0;
    border-top: 2px solid;
    margin-top: 20px;
  }
}

.form-search {
  position: relative;
  width: 275px;
}

@media (min-width: 992px) and (max-width:1399px) {
  .form-search {
    max-width: 240px;
  }
}

@media (max-width: 991px) {
  .form-search {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .search {
    margin-bottom: 10px;
  }
}

.navbar-toggler {
  border: none;
}

.search-bar {
  border: 1px solid rgba(0, 0, 0, 0.175);
  box-shadow: inset -2px -2px 0 #713026;
  height: 40px;
  width: 100%;
  padding: 0 15px;
  text-indent: 0;
  outline: none;
  border-radius: 5px;
}

.icon-search {
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 13px;
  color: #ee1d24;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav .dropdown-menu {
  border-radius: 0;
  left: auto;
  margin-top: 16px;
}

/* main */

.product-section {
  padding: 70px 0 65px;
}

.heading {
  position: relative;
  margin-bottom: 30px;
}

.title-sub {
  font-weight: 400;
  display: inline-block;
  color: #000;
  text-transform: capitalize;
  padding-left: 15px;
  font-size: 24px;
  margin-bottom: 0;
}

.title-sub::before {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 2px;
  bottom: 0px;
  background-color: #ee1d24;
}

.game-item {
  margin-bottom: 20px;
  box-shadow: 0 1px 6px 0 #ffffff;
  border-radius: 5px;
}
  .game-item:hover .game-card__title {
  color: #ff7a21; /* highlight color */
  transition: color 0.3s ease;
}


.game-link {
  margin-bottom: 0;
  text-align: left;
  display: block;
}

.game-link .game-card__title {
  margin-bottom: 0;
  line-height: 1.75;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  padding: 15px 0;
  border-bottom: 3px solid rgba(0,0,0,0.1);
  text-align: center;
  box-shadow: 0 1px 20px 0 rgb(255 255 255 / 25%);
  
}

.game-card__title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 7px;
  
}

  .game-card__cover {
  width: 100%;
  height: 195px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth effect */
}

.game-card__cover:hover {
  transform: scale(1.05); /* zoom in */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* shadow on hover */
  cursor: pointer; /* show hand cursor */
}
@media (max-width: 1399px) {
  .game-card__cover {
    height: 165px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .game-card__cover {
    height: 135px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .game-card__cover {
    height: 215px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .game-card__cover {
    height: 220px;
  }
}

@media (max-width: 575px) {
  .game-card__cover {
    height: auto;
  }
}

footer {
  position: relative;
  background: rgb(42 92 36);
}

.copyright {
  padding: 20px 0;
  font-size: 18px;
}

.go-top {
  position: fixed;
  bottom: 15px;
  right: 20px;
  text-decoration: none;
  color: #ed1d24;
  background-color: white;
  font-size: 12px;
  display: none;
  border-radius: 3px;
  width: 35px;
  height: 35px;
  text-align: center;
  z-index: 9999;
  line-height: 35px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

.go-top:hover {
  background-color: #ed1d24;
  color: white;
}

.gameFrame {
  margin-top: 20px;
}

.btn-full {
  padding: 18px 32px;
  background: black;
  border-radius: 5px;
  margin: 10px 0;
  border: none;
}

.btn-full:hover {
  background: #ed1d24;
}

